@model IEnumerable<WebApplication1.Models.Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Test React on Website</h4>

<p id="txtReact">

</p>
<input type="button" id="myBtn1" value="click me"/>
@*<h4>List of Employee</h4>
<table class="table table-bordered">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date of Birth</th>
        <th>City</th>
        <th>Salary</th>
        <th>Department</th>
    </tr>
    @foreach (var e in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => e.FName)</td>
            <td>@Html.DisplayFor(modelItem => e.LName)</td>
            <td>@Html.DisplayFor(modelItem => e.DateOfBirth)</td>
            <td>@Html.DisplayFor(modelItem => e.City)</td>
            <td>@Html.DisplayFor(modelItem => e.Salary)</td>
            <td>@Html.DisplayFor(modelItem => e.Department.Name)</td>


        </tr>
    }
</table>*@

@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $("#myBtn1").click(function () {
                event.preventDefault();
                $.ajax({
                    method: "GET",
                    url: "~/api/API/GetAllEmp",
        @*            contentType: "application/json;charset=utf-8",
                    //data: JSON.stringify(data),
                    dataType: "json",
                    async:false,*@
                    success: function (data) {
                        alert("Success")
                        $.each(data, function () {
                            console.log(data)
                        })
                        
                    },
                    error: function (data) {
                        alert("Fetch failed")
                    }
                })
            })
           
        })

    </script>

}



@*@section scripts{
        <script type="text/jsx" src="@Url.Content("~/Scripts/react1.jsx")"></script>
    }
*@
